<div class="page">
    <header class="page-header mb-2">
        <h1>Work Orders</h1>
        <app-timescale-selector 
        [(value)]="timeScale"
        (valueChange)="onTimeScaleChange($event)">
        </app-timescale-selector>
    </header>

    <section class="timeline">
        <div class="timeline-left">
            <div class="left-header">Work Center</div>
            <div class="left-row" *ngFor="let workCenter of workCenters">
                {{ workCenter.data.name }}
            </div>
        </div>

        <div class="timeline-right" #scrollElement>
            <div class="right-header">
                <!-- Headers of timeline here, e.g. Jan, Feb, Week 1, Week 2, Day 1, Day 2, etc. -->
                <div class="header-grid"
                    [style.gridAutoColumns.px]="columnWidthPx()">
                    <div class="header-cell" 
                        *ngFor="let c of columns(); trackBy: trackByColumnKey">
                        {{ c.label }}
                    </div>
                </div>

                <!-- Current label pill below the column header -->
                <div class="current-pill"
                    *ngIf="currentColumnIndex() >= 0"
                    [style.left.px]="currentLineLeftPx()">
                    {{ currentLabel() }}
                </div>
            </div>

            <!-- Current vertical line -->
             <div class="current-line"
             *ngIf="currentColumnIndex() >= 0"
             [style.left.px]="currentLineLeftPx()">
                <!-- No value, just draw the line -->
            </div>

            <div class="rows">
                <div class="row" *ngFor="let workCenter of workCenters">
                    <div class="row-grid"
                        [style.gridAutoColumns.px]="columnWidthPx()">
                        <div class="cell" 
                            *ngFor="let c of columns(); let i = index; trackBy: trackByColumnKey"
                            (click)="onEmptyCellClick(workCenter.docId, i, $event)">
                        </div>
                    </div>

                    <!-- Draw bars from work orders  -->
                     <div class="bars">
                        <div class="bar"
                            *ngFor="let b of getWorkOrdersBarsOf(workCenter.docId)"
                            [style.left.px]="b.leftPx"
                            [style.width.px]="b.widthPx"
                            [attr.data-status]="b.wo.data.status"
                            [class.has-open-menu]="openMenuWorkOrderId === b.wo.docId"
                            title="{{b.wo.data.name}}">
                            <span class="bar-title">{{b.wo.data.name}}</span>

                            <!-- Status label at the end of barr -->
                            <span class="bar-status" [attr.data-status]="b.wo.data.status">
                                {{ getStatusLabel(b.wo.data.status) }}
                            </span>

                            <!-- Button to toggle menu -->
                            <button
                                type="button"
                                class="bar-cta"
                                (click)="toggleMenu(b.wo.docId, $event)"
                                aria-label="Options">
                                <span class="dots-menu">...</span>
                            </button>

                            <!-- Menu items -->
                            <div 
                                class="bar-menu"
                                *ngIf="openMenuWorkOrderId === b.wo.docId"
                                (click)="onMenuClick($event)">
                                <button 
                                    type="button" 
                                    class="menu-item" 
                                    (click)="onEdit(b.wo.docId, $event)">
                                    Edit
                                </button>

                                <button 
                                    type="button" 
                                    class="menu-item is-danger" 
                                    (click)="onDelete(b.wo.docId, $event)">
                                    Delete
                                </button>
                            </div>
                        </div>
                     </div>

                    <!-- Area to click to add new order -->
                    <div
                        class="pending-create-area"
                        *ngIf="pendingCreate()?.workCenterId === workCenter.docId"
                        [style.left.px]="pendingCreateLeftPx()"
                        [style.width.px]="pendingCreateWidthPx()"
                        (click)="openCreateFromPending($event)">
                        
                        <!-- Tooltip pill above -->
                        <div class="add-dates-tooltip">
                            Click to add dates
                        </div>
                        
                        <!-- Visual indicator in the slot -->
                        <div class="selection-highlight"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<app-work-order-form
  [isOpen]="formOpen()"
  [mode]="formMode()"
  [initialValue]="formInitial()"
  (cancel)="formOpen.set(false)"
  (submitForm)="onFormSubmit($event)">
</app-work-order-form>
